@model IEnumerable<CountryClubMVC.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimePosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEdited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEdited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Post_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Post_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Post_ID })
        </td>
    </tr>
}

</table>
